.navbar {
    bottom: 0;
    width: 100vw;
    height: 55px;
    position: fixed;
    background-color: #02818a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: DodgerBlue;
    border: 1px solid white;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
    width: 45px;
}
