.settings-container {
    margin-top: 55px;
}
.update-avatar {
    margin-bottom: 30px;
}
.delete-account-btn {
    background-color: #d07b73;
}
.sign-out-btn {
    margin-left: 20px;
}
@media screen and (min-width: 700px) {
    .settings-container {
        margin-top: 0px;
    }
}